<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= current_user ? render('layouts/authorized_user_navbar') : render('layouts/guest_user_navbar') %>

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="notice">
        <%= notice %>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div class="alert">
        <%= alert %>
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
